
$yellow:  #fbc900;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
);
$sizes: (
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        100: 100%,
)